In [ ]:
import graphlab

# Load some text data-from wikipedia,pages on people

In [ ]:
people=graphlab.SFrame('people_wiki.gl/')

In [ ]:
people.head()

In [ ]:
len(people)

# Explore the Dataset and Check out the text it contains

In [ ]:
obama=people[people['name']=='Barack Obama']

In [ ]:
obama

In [ ]:
obama['text']

In [ ]:
clooney=people[people['name']=='George Clooney']
clooney

In [ ]:
clooney['text']

# Get the word counts for Obama article

In [ ]:
obama['word_count']=graphlab.text_analytics.count_words(obama['text'])

In [ ]:
print obama['word_count']

# Sort the word counts for the obama article

In [ ]:
obama_word_count_table=obama[['word_count']].stack('word_count', new_column_name= ['word','count'])

In [ ]:
obama_word_count_table.head()

In [ ]:
obama_word_count_table.sort('count',ascending=False)

# Compute TF-IDF for the corpus

In [ ]:
people['word_count']=graphlab.text_analytics.count_words(people['text'])
people.head()

In [ ]:
tfidf = graphlab.SFrame({'docs':graphlab.text_analytics.tf_idf(people['word_count'])})
tfidf

In [ ]:
people['tfidf']=tfidf['docs']

# Examine the TF- IDF for Obama article

In [ ]:
obama=people[people['name']=='Barack Obama']

In [ ]:
obama[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf', ascending=False)

# Manually compute distances between a few people

In [ ]:
clinton=people[people['name']=='Bill Clinton']

In [ ]:
beckham=people[people['name']=='David Beckham']

# Is obama closer to Clinton than to Beckham

In [ ]:
graphlab.distances.cosine(obama['tfidf'][0],clinton['tfidf'][0])

In [ ]:
graphlab.distances.cosine(obama['tfidf'][0],beckham['tfidf'][0])

# Nearest neighbouring model for document retrieval

In [ ]:
knn_model=graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name')

# Applying the nearest -neighbours model for retrieval

# Who is closest to Obama?

In [ ]:
knn_model.query(obama)

# Other Examples of Document retrieval

In [ ]:
swift=people[people['name']=='Taylor Swift']

In [ ]:
knn_model.query(swift)

In [ ]:
jolie=people[people['name']=='Angelina Jolie']

In [ ]:
knn_model.query(jolie)

In [ ]:
arnold=people[people['name']=='Arnold Schwarzenegger']

In [ ]:
knn_model.query(arnold)

# Assinment Task to answer Quiz Questions

In [ ]:
john=people[people['name']=='Elton John']

In [ ]:
john

In [ ]:
john['text']

# Word Count related task to find word frequency

In [ ]:
john['word_count']=graphlab.text_analytics.count_words(john['text'])
print john['word_count']

# Creating a new stack with a new column to have word and it's count.

In [ ]:
john_word_count_table=john[['word_count']].stack('word_count', new_column_name= ['word','count'])

In [ ]:
john_word_count_table.head()

In [ ]:
john_word_count_table.sort('count',ascending=False)

# Calculating TF_IDF to see the difference in word frequency with word count method

In [ ]:
john[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf', ascending=False)

# Creation of few more people document and Calculating Cosine distance

In [ ]:
vbeckham=people[people['name']=='Victoria Beckham']

In [43]:
graphlab.distances.cosine(john['tfidf'][0],vbeckham['tfidf'][0])

0.9567006376655429

In [44]:
paul=people[people['name']=='Paul McCartney']

In [45]:
graphlab.distances.cosine(john['tfidf'][0],paul['tfidf'][0])

0.8250310029221779

# Nearest neighbouring model for document retrieval based on word_count

In [56]:
word_count_knn=graphlab.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [57]:
word_count_knn.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11ms         |

| Done         |         | 100         | 426.024ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [58]:
word_count_knn.query(vbeckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 6.001ms      |

| Done         |         | 100         | 356.021ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [59]:
tfidf_knn=graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [60]:
tfidf_knn.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.001ms     |

| Done         |         | 100         | 401.023ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [61]:
tfidf_knn.query(vbeckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 6ms          |

| Done         |         | 100         | 425.024ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]